.theater-icon, .svg-container svg {
    display: block;
    width: 100px;
    height: 100px;
}
.svg-container svg:hover {
    fill: red;
}
video {
    display: block;
    margin: auto;
    width: 400px;
    max-width: 100%;
}